<section class="section contacts">
    <div class="container">
        <div class="contacts__wrapper">
            <div class="contacts-info">
                <div class="title-wrapper title-wrapper_section">
                    <h2 class="title section-title contacts-info__title">наши</h2>
                    <span class="section-subtitle contacts-info__subtitle">контакты</span>
                    <div class="decor-square decor-square_title-wrapper"></div>
                </div>
                <div class="contacts-info__cards">
                    <a href="#" class="contacts-info__card contacts-info__card_noLink">
                        <span class="contacts-info__lable contacts-info__lable_address">Адрес:</span>
                        <span class="contacts-info__item">Ул. Неизвестная, 14</span>
                    </a>
                    <a href="tel:001122333444" class="contacts-info__card">
                        <span class="contacts-info__lable contacts-info__lable_phone">Телефон:</span>
                        <span class="contacts-info__item">00 11 22 333 444</span>
                    </a>
                    <a href="mailto:email.@gmail.com" class="contacts-info__card">
                        <span class="contacts-info__lable contacts-info__lable_mail">E-mail:</span>
                        <span class="contacts-info__item">email.@gmail.com</span>
                    </a>
                </div>
            </div>
            <div class="contacts-form">
                <div class="title-wrapper title-wrapper_section">
                    <h2 class="title section-title contacts-form__title">свяжитесь</h2>
                    <span class="section-subtitle contacts-form__subtitle">с нами</span>
                    <div class="decor-square decor-square_title-wrapper"></div>
                </div>
                <form action="#" method="POST" class="main-form">
                    <div class="main-form__input-wrapper">
                        <input class="main-form__input" type="text" name="userName" id="userName" required>
                        <label for="userName">Ваше имя</label>
                        <span class="main-form__error">Поле заполнено неверно.</span>
                    </div>
                    <div class="main-form__input-wrapper">
                        <input class="main-form__input" type="email" name="userMail" id="userMail" required>
                        <label for="userName">Ваш E-mail</label>
                        <span class="main-form__error">Поле заполнено неверно.</span>
                    </div>
                    <div class="main-form__input-wrapper">
                        <textarea class="main-form__input" name="userMessage" id="userMessage" cols="30"
                            rows="10"></textarea>
                        <label for="userMessage">Сообщение</label>
                    </div>
                    <div class="main-form__submit-group">
                        <button type="submit" class="btn btn_light main-form__btn">ОТПРАВИТЬ</button>
                        <span class="main-form__total"> <span class="main-form__total-price"></span> </span>
                    </div>
                </form>

            </div>
        </div>
    </div>
</section>