<section class="header">
    <div class="container-large">
        <div class="header__row">
            <a href="/" class="logo">
                <svg class="logo__icon">
                    <use xlink:href="#logo"></use>
                </svg>
            </a>
            <a href="#" class="burger__icon" id="burger">
                <svg class="burger" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <line x1="12" x2="18" y1="18" y2="18" stroke="white" stroke-width="2" />
                    <line x1="21" x2="36" y1="18" y2="18" stroke="white" stroke-width="2" />
                    <line x1="12" x2="36" y1="24" y2="24" stroke="white" stroke-width="2" />
                    <line x1="12" x2="27" y1="30" y2="30" stroke="white" stroke-width="2" />
                    <line x1="30" x2="36" y1="30" y2="30" stroke="white" stroke-width="2" />
                    <rect x="1" y="1" width="46" height="46" stroke="white" stroke-width="2" />
                </svg>
            </a>
            <a href="#" class="btn header__btn btnForModal">ЗАКАЗАТЬ ЗВОНОК СЕЙЧАС</a>
        </div>
    </div>
    <div class="nav" id="nav">
        <svg class="nav__bg-toRight">
            <use style="width: 100%;" xlink:href="#bgShapeToRight"></use>
        </svg>
        <svg class="nav__bg-toLeft">
            <use xlink:href="#bgShapeToLeft"></use>
        </svg>
        <a href="#" class="close-btn nav__close-link">
            <svg class="close-btn__icon nav__close-icon" fill="none" width="40" height="40" viewBox="0 0 40 40"
                fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M40 9.06623L31.8223 0.888526L30.0452 2.66558L36.4459 9.06623L25.5121 20L36.4459 30.9338L30.9338 36.4459L20 25.5121L9.06623 36.4459L3.5541 30.9338L14.4879 20L3.5541 9.06623L9.06623 3.5541L19.1115 13.5993L20.8885 11.8223L9.06623 0L0 9.06623L10.9338 20L0 30.9338L9.06623 40L20 29.0662L30.9338 40L40 30.9338L29.0662 20L40 9.06623Z"
                    stroke="white" stroke-width=".3" />
                <path d="M30.0449 6.25728L28.2676 4.47998L26.4903 6.25728L28.2676 8.03459L30.0449 6.25728Z"
                    stroke="white" stroke-width=".3" />
                <path d="M26.2744 10.0272L24.4971 8.24988L22.7198 10.0272L24.4971 11.8045L26.2744 10.0272Z"
                    stroke="white" stroke-width=".3" />
            </svg>
        </a>
        <ul class="nav__list">
            <li class="nav__item"><a href="/" class="nav__link">ГЛАВНАЯ</a></li>
            <li class="nav__item"><a href="portfolio.html" class="nav__link">ПОРТФОЛИО</a></li>
            <li class="nav__item"><a href="services.html" class="nav__link">УСЛУГИ</a></li>
            <li class="nav__item"><a href="#" class="nav__link">КОНСТРУКТОР
                    ИНТЕРНЕТ МАГАЗИНА</a></li>

        </ul>
    </div>
</section>