<div class="modal" id="modal">

    <div class="modal__bg-wrapper">
        <svg class="modal__bg-toRight">
            <use xlink:href="#bgShapeToRight"></use>
        </svg>
        <svg class="modal__bg-toLeft">
            <use xlink:href="#bgShapeToLeft"></use>
        </svg>
        <a href="#" class="close-btn modal__close-btn" id="modalClose">
            <svg class="close-btn__icon modal__close-icon" fill="none" width="40" height="40" viewBox="0 0 40 40"
                fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M40 9.06623L31.8223 0.888526L30.0452 2.66558L36.4459 9.06623L25.5121 20L36.4459 30.9338L30.9338 36.4459L20 25.5121L9.06623 36.4459L3.5541 30.9338L14.4879 20L3.5541 9.06623L9.06623 3.5541L19.1115 13.5993L20.8885 11.8223L9.06623 0L0 9.06623L10.9338 20L0 30.9338L9.06623 40L20 29.0662L30.9338 40L40 30.9338L29.0662 20L40 9.06623Z"
                    stroke="white" stroke-width=".3" />
                <path d="M30.0449 6.25728L28.2676 4.47998L26.4903 6.25728L28.2676 8.03459L30.0449 6.25728Z"
                    stroke="white" stroke-width=".3" />
                <path d="M26.2744 10.0272L24.4971 8.24988L22.7198 10.0272L24.4971 11.8045L26.2744 10.0272Z"
                    stroke="white" stroke-width=".3" />
            </svg>
        </a>
        <div class="modal__wrapper">


            <div class="modal__content">
                <div class="title-wrapper title-wrapper_section">
                    <h2 class="title section-title contacts-form__title">свяжитесь</h2>
                    <span class="section-subtitle contacts-form__subtitle">с нами</span>
                    <div class="decor-square decor-square_title-wrapper"></div>
                </div>

                <form action="#" method="POST" class="main-form">
                    <div class="main-form__input-wrapper">
                        <input class="main-form__input" type="text" name="userName" id="userName" required>
                        <label for="userName">Ваше имя</label>
                        <span class="main-form__error">Поле заполнено неверно.</span>
                    </div>
                    <div class="main-form__input-wrapper">
                        <input class="main-form__input" type="email" name="userMail" id="userMail" required>
                        <label for="userName">Ваш E-mail</label>
                        <span class="main-form__error">Поле заполнено неверно.</span>
                    </div>
                    <div class="main-form__input-wrapper">
                        <textarea class="main-form__input" name="userMessage" id="userMessage" cols="30"
                            rows="10"></textarea>
                        <label for="userMessage">Сообщение</label>
                    </div>
                    <div class="main-form__submit-group">
                        <button type="submit" class="btn btn_light main-form__btn">ОТПРАВИТЬ</button>
                        <span class="main-form__total"> <span class="main-form__total-price"></span></span>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>